{
   "arrowParens": "avoid",
   "singleQuote": true,
   "trailingComma": "none",
   "printWidth": 100,
   "tabWidth": 3,
   "semi": false,
   "proseWrap": "always",
   "jsxSingleQuote": true,
   "plugins": ["prettier-plugin-tailwindcss"]
}
